$font-family-texte:'Kaushan Script', cursive; 
$body-background-colour:hsla(182, 54%, 34%, 0.1);
$background-footer:rgb(78, 79, 80);
$color-footer:lightgrey;
$color-jumbontron:rgba(66, 44, 14, 0);
$color-texte: darkgoldenrod !important;
$text-shadow-font:1px 1px 1px black !important;
$color-title-text:#188d8df3 !important;
$color-text-contact-placeholder:white !important;
$btn-link-color-option:#0dcaf0 !important;
$wrapper-background-color-btn-hover:#b4b4b433 !important;
$wrapper-border-top-left: 1px solid #ffffff6e;
$wrapper-box-shadow-webkit:0px 0px 20px black;
$wrapper-form-group-border-bottom:1px solid black !important;
$wrapper-form-group-hover:1px solid black !important;
$wrapper-social-box-shadow-webkit:0 5px 20px black !important;
$wrapper-social-border-right-bottom:1px solid #ffffff33 !important;
$wrapper-social-border:1px solid #ffffff66 !important;
$wrapper-background-gradient-webkit:-webkit-gradient(linear, left top, left bottom, from(gray), to(white));
$wrapper-background-linear-gradient: linear-gradient(to bottom, gray, white);
$wrapper-social-background-webkit-gradient:-webkit-gradient(linear, left top, left bottom, from(gray), to(white));
$wrapper-social-background-linear-gradient:linear-gradient(to bottom, gray, white);
$wrapper-social-background-color:rgba(255, 255, 255, 0.6);

@media screen and (min-width: 368px) and (orientation) {
    main{
        width: 100%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 0.8em;
        text-shadow: $text-shadow-font;
    }
    h2{
        font-size: 1.7em;
    }
    a.nav-link{
        font-size: 1rem;
    }
    img {
        width: 20vh;
        }
    .petit-ours{
        width: 20vh;
    }
    .ours-assis{
        width: 35vh;
    }
    header.sticky{
        height: 10px;
    }
    footer{
        font-size: 0.5rem;
    }      
}

@media screen and (min-width: 468px)  and (orientation){
    main{
        width: 100%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 0.8em;
        text-shadow:$text-shadow-font ;
    }
    h2{
        font-size: 1.8em;
    }
    a.nav-link{
        font-size: 1rem;
    }
    img {
        width: 30vh;
        }
    .petit-ours{
        width: 25vh;
    }
    .ours-assis{
        width: 50vh;
    }
    header.sticky{
        height: 10px;
    }
    footer{
        font-size: 0.6rem;
    }      
}

@media screen and (min-width: 568px) and (orientation) {
    main{
        width: 100%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 1em;
        text-shadow:$text-shadow-font ;
    }
    h2{
        font-size: 1.9em;
    }
    a.nav-link{
        font-size: 1rem;
    }
    img {
        width: 20vh;
        }
    .petit-ours{
        width: 30vh;
    }
    .ours-assis{
        width: 60vh;
    }    
    header.sticky{
        height: 10px;
    }
    footer{
        font-size: 0.7rem;
    }    
}

@media screen and (min-width: 768px) and (orientation) {
    main{
        width: 100%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 1.4em;
        text-shadow:$text-shadow-font ;
    }
    h2{
        font-size: 1.9em;
    }
    a.nav-link{
        font-size: 1.2rem;
    }
    img {
        width: 20vh;
        }
    .petit-ours{
        width: 40vh;
    }
    .ours-assis{
        width: 60vh;
    }      
    header.sticky{
        height: 10px;
    }
    footer{
        font-size: 0.9rem;
    }  
}
@media screen and (min-width: 1200px) {
    main{
        width: 80%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 1.4rem;
        text-shadow:$text-shadow-font ;
    }
    .titlescustom{
        font-size: 3em;
        color: $color-title-text;
    }
    .textcustom{
        font-size: 1.6em;
        color: $color-title-text;
    }
    a.nav-link{
        font-size: 1.8rem;
        
        }
    img {
        width: 30vh;
        }
    .petit-ours{
        width: 50vh;
    }
    .ours-assis{
        width: 70vh;
    }    
    header.sticky{
        height: 10px;
    }
    footer{
        font-size: 1rem;
    }     
}

@media screen and (min-width: 1900px) {
    main{
        width: 80%;
        margin: 50px auto;
        padding: 20px 10px;
        margin-top: auto;
        font-size: 1.4rem;
        text-shadow: $text-shadow-font;
    }
    a.nav-link{
        font-size: 1.8rem;      
    }
    img {
        width: 30vh;
        } 
    .ours-assis{
        width: 80vh;
    }    
    header.sticky{
            height: 10px;
        }
    footer{
        font-size:1.2rem;
    }             
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-texte;
    color:$color-title-text;
}
html{
    font-size: 16px;
    
}
body{
    background-color: $body-background-colour;
    background-size: 90%;
    background-position: 40% 70%;
    background-repeat: no-repeat;
    border-bottom: 10px;
    padding: 2px;
    font-weight: 700;
    background-image: url("../../images/ours.png");
    opacity:0.8;
    
}
header{
    width: 100%;
    height: 150px;
    margin-bottom: 100px;
    
}
.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}
.nav-pills > li.active > a{
    color: $color-title-text ;
}
.custom-nav{
    color: $color-texte;
    text-shadow: $text-shadow-font ;
    &:hover{color:$color-title-text}
}
div.card{
    width:120%;
    height: auto;
}
.btn-color{
    font-family: $font-family-texte;
    text-shadow: $text-shadow-font;
    position: relative;
    color: $color-title-text;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 1px solid $color-title-text;
    background-color: inherit;
    box-shadow: none;
    overflow: hidden;
    -webkit-border-radius: 5px;
        &:hover{background-color: $wrapper-background-color-btn-hover;
        color: $color-text-contact-placeholder;}
}
/*jumbotron*/
.jumbotron {
    color:$color-jumbontron;
    background-image: url("../../images/ours-eau.jpg");
    opacity:0.9;
    background-position:end;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
footer{
    margin-top: auto;
    position:relative;
    text-align: center;
    color: $color-footer ;
    padding: 15px;
    background:$background-footer;
}
/*contact form css*/   
.wrapper {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px 30px;
    min-height: 400px;
    background:$wrapper-background-gradient-webkit;
    background: $wrapper-background-linear-gradient;
    border-top: $wrapper-border-top-left;
    border-left: $wrapper-border-top-left;
    -webkit-box-shadow: $wrapper-box-shadow-webkit;
            box-shadow: $wrapper-box-shadow-webkit;
    border-radius: 15px;
}
.wrapper .h2 {
font-family: $font-family-texte;
color: $color-texte;
text-shadow: $text-shadow-font;
}
.wrapper .form-group {
border-bottom: $wrapper-form-group-border-bottom;
margin-bottom: 1.5rem;
}
.wrapper .form-group:hover {
border-bottom: $wrapper-form-group-hover;
}
.wrapper .form-group .icon {
color: $color-text-contact-placeholder;
text-shadow: $text-shadow-font;
}
.wrapper .form-group .form-control {
background: inherit;
border: none;
border-radius: 0px;
-webkit-box-shadow: none;
        box-shadow: none;
font-size: large;
font-family: $font-family-texte;
color:$color-text-contact-placeholder;
text-shadow: $text-shadow-font;
}
.wrapper .form-group input::-webkit-input-placeholder {
color: $color-text-contact-placeholder;
font-size: large;
}
.wrapper .form-group input:-ms-input-placeholder {
color: $color-text-contact-placeholder;
font-size: large;
}
.wrapper .form-group input::-ms-input-placeholder {
color: $color-text-contact-placeholder;
font-size: large;
}
.wrapper .form-group input::placeholder {
color: $color-text-contact-placeholder;
font-size: large;
}
.wrapper .form-group input:focus::-webkit-input-placeholder {
opacity: 0;
}
.wrapper .form-group input:focus:-ms-input-placeholder {
opacity: 0;
}
.wrapper .form-group input:focus::-ms-input-placeholder {
opacity: 0;
}
.wrapper .form-group input:focus::placeholder {
opacity: 0;
}
.form-group textarea::-webkit-input-placeholder {
    color: $color-text-contact-placeholder;
    font-size: large;
    }
    textarea:-moz-placeholder { /* Firefox 18- */
        color: $color-text-contact-placeholder;
        font-size: large; 
    }
    textarea::-moz-placeholder {  /* Firefox 19+ */
        color: $color-text-contact-placeholder;
        font-size: large;
    }
    textarea:-ms-input-placeholder { 
        color: $color-text-contact-placeholder;
        font-size: large;
    }
.wrapper .form-group .fa-phone {
-webkit-transform: rotate(90deg);
        transform: rotate(90deg);
}
.wrapper .option {
font-size: 1.2rem;
font-family: $font-family-texte;
color: $color-text-contact-placeholder;
text-shadow: $text-shadow-font;
display: block;
position: relative;
padding-left: 25px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.wrapper .option:hover {
color:$color-texte;
}
.wrapper .option input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
.wrapper .checkmark {
position: absolute;
top: 3px;
left: 0;
height: 18px;
width: 18px;
background-color: inherit;
border: 2px solid $color-title-text;
border-radius: 2px;
}
.wrapper .option input:checked ~ .checkmark {
-webkit-transition: 300ms ease-in-out all;
transition: 300ms ease-in-out all;
}
.wrapper .checkmark:after {
content: "\2713";
position: absolute;
display: none;
font-weight: 600;
color: $color-text-contact-placeholder;
font-size: 0.9rem;
}
.wrapper .option input:checked ~ .checkmark:after {
display: block;
}
.wrapper .option .checkmark:after {
left: 2px;
top: -4px;
width: 5px;
height: 10px;
}
.wrapper .btn.btn-primary {
font-family: $font-family-texte;
text-shadow: $text-shadow-font;
position: relative;
color:$color-title-text;
padding: 0.3rem 1rem;
border-radius: 5px;
border: 1px solid $color-title-text;
background-color: inherit;
-webkit-box-shadow: none;
        box-shadow: none;
overflow: hidden;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
}
.wrapper .btn.btn-primary:hover {
background-color: $wrapper-background-colour-btn-hover;
color: $color-text-contact-placeholder;
}
.wrapper .terms {
font-family: $font-family-texte;
color: $color-texte;
text-shadow: $text-shadow-font;
font-size: 1.2rem;
text-align: center;
}
.wrapper .terms a {
font-family: $font-family-texte;
text-shadow: $text-shadow-font;
text-decoration: none;
color:$color-title-text;
}
.wrapper .terms a:hover {
color: $color-text-contact-placeholder;
}
.wrapper .connect {
position: absolute;
}
.wrapper .social-links {
margin-top: 50px;
position: relative;
list-style: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
    justify-content: space-around;
}
.wrapper .social-links li a {
font-size: 1.2rem;
width: 50px;
height: 50px;
background: $wrapper-social-background-webkit-gradient;
background: $wrapper-social-background-linear-gradient;
border: $wrapper-social-border;
border-right: $wrapper-social-border-right-bottom;
border-bottom: $wrapper-social-border-right-bottom;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
text-decoration: none;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color: $color-text-contact-placeholder;
text-shadow: $text-shadow-font;
border-radius: 3px;
-webkit-box-shadow: $wrapper-social-box-shadow-webkit;
        box-shadow: $wrapper-social-box-shadow-webkit;
-webkit-transition: 0.5s;
transition: 0.5s;
overflow: hidden;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
}
.wrapper .social-links li a:hover {
-webkit-transform: translateY(-20px);
        transform: translateY(-20px);
}
.wrapper .social-links li a::before,
.wrapper .btn.btn-primary::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 25px;
height: 100%;
background-color: $wrapper-social-background-color;
-webkit-transform: skew(45deg) translateX(130px);
        transform: skew(45deg) translateX(130px);
-webkit-transition: .5s;
transition: .5s;
opacity: 0;
}
.wrapper .social-links li a:hover:before,
.wrapper .btn.btn-primary:hover::before {
opacity: 1;
-webkit-transform: skew(45deg) translateX(-130px);
        transform: skew(45deg) translateX(-130px);
}
@media (max-width: 570px) {
.wrapper {
    margin: 15px;
    padding: 20px;
    }
.wrapper .connect::after {
    left: 38%;
    }
}
@media (max-width: 345px) {
.wrapper .connect::after{
    left: 32%;
    }
}