@charset "UTF-8";
@media screen and (min-width: 368px) and (orientation) {
  main {
    width: 100%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px black !important;
  }

  h2 {
    font-size: 1.7em;
  }

  a.nav-link {
    font-size: 1rem;
  }

  img {
    width: 20vh;
  }

  .petit-ours {
    width: 20vh;
  }

  .ours-assis {
    width: 35vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 468px) and (orientation) {
  main {
    width: 100%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px black !important;
  }

  h2 {
    font-size: 1.8em;
  }

  a.nav-link {
    font-size: 1rem;
  }

  img {
    width: 30vh;
  }

  .petit-ours {
    width: 25vh;
  }

  .ours-assis {
    width: 50vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 568px) and (orientation) {
  main {
    width: 100%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 1em;
    text-shadow: 1px 1px 1px black !important;
  }

  h2 {
    font-size: 1.9em;
  }

  a.nav-link {
    font-size: 1rem;
  }

  img {
    width: 20vh;
  }

  .petit-ours {
    width: 30vh;
  }

  .ours-assis {
    width: 60vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) and (orientation) {
  main {
    width: 100%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px black !important;
  }

  h2 {
    font-size: 1.9em;
  }

  a.nav-link {
    font-size: 1.2rem;
  }

  img {
    width: 20vh;
  }

  .petit-ours {
    width: 40vh;
  }

  .ours-assis {
    width: 60vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1200px) {
  main {
    width: 80%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px black !important;
  }

  .titlescustom {
    font-size: 3em;
    color: #188d8df3 !important;
  }

  .textcustom {
    font-size: 1.6em;
    color: #188d8df3 !important;
  }

  a.nav-link {
    font-size: 1.8rem;
  }

  img {
    width: 30vh;
  }

  .petit-ours {
    width: 50vh;
  }

  .ours-assis {
    width: 70vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1900px) {
  main {
    width: 80%;
    margin: 50px auto;
    padding: 20px 10px;
    margin-top: auto;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px black !important;
  }

  a.nav-link {
    font-size: 1.8rem;
  }

  img {
    width: 30vh;
  }

  .ours-assis {
    width: 80vh;
  }

  header.sticky {
    height: 10px;
  }

  footer {
    font-size: 1.2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  color: #188d8df3 !important;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(40, 130, 134, 0.1);
  background-size: 90%;
  background-position: 40% 70%;
  background-repeat: no-repeat;
  border-bottom: 10px;
  padding: 2px;
  font-weight: 700;
  background-image: url("../../images/ours.png");
  opacity: 0.8;
}

header {
  width: 100%;
  height: 150px;
  margin-bottom: 100px;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-pills > li.active > a {
  color: #188d8df3 !important;
}

.custom-nav {
  color: darkgoldenrod !important;
  text-shadow: 1px 1px 1px black !important;
}
.custom-nav:hover {
  color: #188d8df3 !important;
}

div.card {
  width: 120%;
  height: auto;
}

.btn-color {
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px 1px black !important;
  position: relative;
  color: #188d8df3 !important;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #188d8df3 !important;
  background-color: inherit;
  box-shadow: none;
  overflow: hidden;
  -webkit-border-radius: 5px;
}
.btn-color:hover {
  background-color: #b4b4b433 !important;
  color: white !important;
}

/*jumbotron*/
.jumbotron {
  color: rgba(66, 44, 14, 0);
  background-image: url("../../images/ours-eau.jpg");
  opacity: 0.9;
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

footer {
  margin-top: auto;
  position: relative;
  text-align: center;
  color: lightgrey;
  padding: 15px;
  background: #4e4f50;
}

/*contact form css*/
.wrapper {
  max-width: 650px;
  margin: 50px auto;
  padding: 20px 30px;
  min-height: 400px;
  background: linear-gradient(to bottom, gray, white);
  border-top: 1px solid #ffffff6e;
  border-left: 1px solid #ffffff6e;
  box-shadow: 0px 0px 20px black;
  border-radius: 15px;
}

.wrapper .h2 {
  font-family: "Kaushan Script", cursive;
  color: darkgoldenrod !important;
  text-shadow: 1px 1px 1px black !important;
}

.wrapper .form-group {
  border-bottom: 1px solid black !important;
  margin-bottom: 1.5rem;
}

.wrapper .form-group:hover {
  border-bottom: 1px solid black !important;
}

.wrapper .form-group .icon {
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

.wrapper .form-group .form-control {
  background: inherit;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  font-size: large;
  font-family: "Kaushan Script", cursive;
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

.wrapper .form-group input:-ms-input-placeholder {
  color: white !important;
  font-size: large;
}

.wrapper .form-group input::-moz-placeholder {
  color: white !important;
  font-size: large;
}

.wrapper .form-group input::placeholder {
  color: white !important;
  font-size: large;
}

.wrapper .form-group input:focus:-ms-input-placeholder {
  opacity: 0;
}

.wrapper .form-group input:focus::-moz-placeholder {
  opacity: 0;
}

.wrapper .form-group input:focus::placeholder {
  opacity: 0;
}

.form-group textarea::-webkit-input-placeholder {
  color: white !important;
  font-size: large;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  font-size: large;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
  font-size: large;
}

textarea:-ms-input-placeholder {
  color: white !important;
  font-size: large;
}

.wrapper .form-group .fa-phone {
  transform: rotate(90deg);
}

.wrapper .option {
  font-size: 1.2rem;
  font-family: "Kaushan Script", cursive;
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper .option:hover {
  color: darkgoldenrod !important;
}

.wrapper .option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.wrapper .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: inherit;
  border: 2px solid #188d8df3 !important;
  border-radius: 2px;
}

.wrapper .option input:checked ~ .checkmark {
  transition: 300ms ease-in-out all;
}

.wrapper .checkmark:after {
  content: "✓";
  position: absolute;
  display: none;
  font-weight: 600;
  color: white !important;
  font-size: 0.9rem;
}

.wrapper .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .option .checkmark:after {
  left: 2px;
  top: -4px;
  width: 5px;
  height: 10px;
}

.wrapper .btn.btn-primary {
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px 1px black !important;
  position: relative;
  color: #188d8df3 !important;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: 1px solid #188d8df3 !important;
  background-color: inherit;
  box-shadow: none;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.wrapper .btn.btn-primary:hover {
  background-color: #b4b4b433 !important;
  color: white !important;
}

.wrapper .terms {
  font-family: "Kaushan Script", cursive;
  color: darkgoldenrod !important;
  text-shadow: 1px 1px 1px black !important;
  font-size: 1.2rem;
  text-align: center;
}

.wrapper .terms a {
  font-family: "Kaushan Script", cursive;
  text-shadow: 1px 1px 1px black !important;
  text-decoration: none;
  color: #188d8df3 !important;
}

.wrapper .terms a:hover {
  color: white !important;
}

.wrapper .connect {
  position: absolute;
}

.wrapper .social-links {
  margin-top: 50px;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.wrapper .social-links li a {
  font-size: 1.2rem;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, gray, white);
  border: 1px solid #ffffff66 !important;
  border-right: 1px solid #ffffff33 !important;
  border-bottom: 1px solid #ffffff33 !important;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
  border-radius: 3px;
  box-shadow: 0 5px 20px black !important;
  transition: 0.5s;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.wrapper .social-links li a:hover {
  transform: translateY(-20px);
}

.wrapper .social-links li a::before,
.wrapper .btn.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skew(45deg) translateX(130px);
  transition: 0.5s;
  opacity: 0;
}

.wrapper .social-links li a:hover:before,
.wrapper .btn.btn-primary:hover::before {
  opacity: 1;
  transform: skew(45deg) translateX(-130px);
}

@media (max-width: 570px) {
  .wrapper {
    margin: 15px;
    padding: 20px;
  }

  .wrapper .connect::after {
    left: 38%;
  }
}
@media (max-width: 345px) {
  .wrapper .connect::after {
    left: 32%;
  }
}/*# sourceMappingURL=main.css.map */